![Algoritmos e Estrutura de Dados I](AED1_banner.jpg)

## <font color='blue'>Algorítmos e Estrutura de Dados I</font>
### <font color='blue'>Aula 06 - Estrutura Sequencial</font>

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.12.4

#### Pressione as teclas shift e enter para executar o código em uma célula ou pressione o botão Run no menu superior.

## <font color='blue'>Recapitulando</font>

### Operações Aritméticas

In [2]:
# Soma
4 + 4

8

In [3]:
# Subtração
4 - 3

1

In [4]:
# Multiplicação
3 * 3

9

In [5]:
# Divisão
3 / 2

1.5

In [6]:
# Potência
4 ** 2

16

In [7]:
# Módulo
10 % 3

1

### Função Type

In [8]:
type(5)

int

In [9]:
type(5.0)

float

In [10]:
a = 'Estou estudando na Fatec Votorantim' ## a é uma variavel (Lembrando que no python tudo é um objeto)
type(a)

str

### Operações com Números Float

In [11]:
3.1 + 6.4

9.5

In [12]:
4 + 4.0

8.0

In [13]:
4 + 4 ## Com dois numeros inteiros sempre vai ser inteiro

8

In [14]:
# Resultado é um número float ## Sempre uma divisão vai ter um resultado float
4 / 2

2.0

In [15]:
# Resultado é um número inteiro ## A resposta é cosciente nesse caso é inteiro
4 // 2

2

In [16]:
4 / 3.0

1.3333333333333333

In [17]:
4 // 3.0 ## Sempre quando eu tenho um float a resposta será um float

1.0

### Conversão

In [18]:
float(9)

9.0

In [19]:
int(6.0)

6

In [20]:
int(6.5)

6

In [21]:
int(6.6) ## aqui é truncar, joga fora o numero quebrado!

6

In [22]:
round(6.5) ## Aqui é um arrendondamento

6

In [24]:
 round(6.6) ## Aqui é uma regra de arrendondamento para cima

7

### Hexadecimal e Binário

In [25]:
hex(394) ## Numeros convertidos em hexadecimais (Todo o numero começado em ox é hexadecimal)

'0x18a'

In [26]:
hex(217)

'0xd9'

In [27]:
bin(286) ## numeros convertidos em binários (Todos o numeros ob são binários)

'0b100011110'

In [29]:
bin(390)

'0b110000110'

### Funções abs, round e pow

In [31]:
# Retorna o valor absoluto (Valores absolutos são valores sem o sinal)
abs(-8)

8

In [32]:
# Retorna o valor absoluto
abs(8)

8

In [34]:
# Retorna o valor com duas casas decimais ## Consigo colocar quantas casas eu quero para o round
round(3.14151922, 2)

3.14

In [35]:
# Potência
pow(4,2)

16

In [59]:
# Potência
pow(5,3)

125

### Trabalhando com Variáveis Pesquisar as PEP do python

In [60]:
# Atribuindo o valor 1 à variável var_teste ## Usando em python a snakecase - Tipo de escrita)
var_teste = 1

In [61]:
# Imprimindo o valor da variável
var_teste

1

In [62]:
# Imprimindo o valor da variável
print(var_teste)

1

In [63]:
# Não podemos utilizar uma variável que não foi definida. Leia a mensagem de erro.
my_var

NameError: name 'my_var' is not defined

In [64]:
var_teste = 2

In [65]:
var_teste

2

In [66]:
type(var_teste)

int

In [67]:
var_teste = 9.5

In [68]:
type(var_teste)

float

In [69]:
x = 1

In [70]:
x

1

### Declaração Múltipla

In [71]:
pessoa1, pessoa2, pessoa3 = "Bob", "Maria", "Ana"

In [72]:
pessoa1

'Bob'

In [73]:
pessoa2

'Maria'

In [74]:
pessoa3

'Ana'

In [79]:
fruta1 = fruta2 = fruta3 = "Melancia" ## Aqui todas a variaveis recebem melancia

In [80]:
fruta1

'Melancia'

In [81]:
fruta2

'Melancia'

In [82]:
fruta3

'Melancia'

In [83]:
# Fique atento!!! Python é case-sensitive. Criamos a variável fruta2, mas não a variável Fruta2.
# Letras maiúsculas e minúsculas tem diferença no nome da variável.
Fruta2

NameError: name 'Fruta2' is not defined

> Pode-se usar letras, números e underline em nome de variável (mas não se pode começar com números).

In [84]:
x1 = 50

In [85]:
x1

50

In [86]:
# Mensagem de erro, pois a linguagem Python não permite nomes de variáveis que iniciem com números
1x = 50

SyntaxError: invalid decimal literal (319158066.py, line 2)

> Não se pode usar palavras reservadas como nome de variável

- False      
- class      
- finally    
- is         
- return
- None       
- continue   
- for        
- lambda     
- try
- True       
- def        
- from       
- nonlocal   
- while
- and        
- del        
- global     
- not        
- with
- as         
- elif       
- if         
- or         
- yield
- assert     
- else       
- import     
- pass
- break      
- except     
- in         
- raise

In [87]:
# Não podemos usar palavras reservadas como nome de variável
break = 1

SyntaxError: invalid syntax (103517557.py, line 2)

### Variáveis Atribuídas a Outras Variáveis e Ordem dos Operadores

In [88]:
largura = 2

In [89]:
altura = 4

In [90]:
area = largura * altura

In [91]:
area

8

In [92]:
perimetro = 2 * largura + 2 * altura

In [93]:
perimetro

12

In [94]:
# A ordem dos operadores é a mesma seguida na Matemática
perimetro = 2 * (largura + 2)  * altura

In [95]:
perimetro

32

### Operações com Variáveis

In [96]:
idade1 = 25

In [97]:
idade2 = 35

In [98]:
idade1 + idade2

60

In [99]:
idade2 - idade1

10

In [100]:
idade2 * idade1

875

In [101]:
idade2 / idade1

1.4

In [102]:
idade2 % idade1

10

### Concatenação de Variáveis

In [103]:
nome = "Bob"

In [104]:
sobrenome = "Marley"

In [105]:
fullName = nome + " " + sobrenome

In [106]:
fullName

'Bob Marley'

### Criando uma String

Para criar uma string em Python você pode usar aspas simples ou duplas. Por exemplo:

In [107]:
# Uma única palavra
'Oi'

'Oi'

In [108]:
# Uma frase
'Criando uma string em Python'

'Criando uma string em Python'

In [109]:
# Podemos usar aspas duplas
"Podemos usar aspas duplas ou simples para strings em Python"

'Podemos usar aspas duplas ou simples para strings em Python'

In [110]:
# Você pode combinar aspas duplas e simples
"Testando strings em 'Python'"

"Testando strings em 'Python'"

In [114]:
print("'Python'")

'Python'

### Imprimindo uma String

In [111]:
print ('Testando Strings em Python')

Testando Strings em Python

In [112]:
print ('Testando \n Strings \n em \n Python') ## Pulando linhas)

Testando
 Strings
 em
 Python

In [115]:
print ('\n') ## Criando um nova linha \n (Nova Linha)

### Indexando Strings

In [116]:
# Atribuindo uma string
s = 'Projet pyPRO'

In [120]:
r4 = projet pypro ## Não esta entre aspas ""

SyntaxError: invalid syntax (2826388770.py, line 1)

In [121]:
print(s)

Projet pyPRO

> Indexação em Python começar por zero.

In [122]:
# Primeiro elemento da string
s[0]

'P'

In [123]:
s[1]

'r'

In [124]:
s[2]

'o'

In [125]:
s[3]

'j'

In [126]:
s[4]

'e'

Podemos usar um : para executar um slicing que faz a leitura de tudo até um ponto designado. Por exemplo:

In [127]:
# Retorna todos os elementos da string, começando pela posição 
# (lembre-se que Python começa a indexação pela posição 0),
# até o fim da string.
s[1:]

'rojet pyPRO'

In [128]:
# A string original permanece inalterada
s

'Projet pyPRO'

In [129]:
# Retorna tudo até a posição de índice 3
s[:3]

'Pro'

In [130]:
# Retorna tudo até a posição de índice 4
s[:4]

'Proj'

In [131]:
# Nós também podemos usar a indexação negativa e ler de trás para frente
s[-1]

'O'

In [132]:
# Retornar tudo, exceto a última letra
s[:-1]

'Projet pyPR'

Nós também podemos usar a notação de índice e fatiar a string em pedaços específicos (o padrão é 1). 

Por exemplo, podemos usar dois pontos duas vezes em uma linha e, em seguida, um número que especifica a frequência para retornar elementos.

In [137]:
s[::1] ## [inicio:Fim:Passo] O passo mostra como deve ser o fatiamento se for 2 ele vai pegar a sempre a segunda letra (de 2 em 2)

'Projet pyPRO'

In [138]:
s[::2]

'Poe yR'

In [139]:
s[::-1]

'ORPyp tejorP'

In [140]:
s[::0] ## O fatiamento nunca pod ser 0

ValueError: slice step cannot be zero

### Propriedades de Strings

In [ ]:
s

In [143]:
# Alterando um caracter (não é possível alterar um elemento da string)
s[0] = 'x' ## Não superta esse tipo de alteração (Não é uma lista)

TypeError: 'str' object does not support item assignment

In [144]:
# Concatenando strings
s + ' é a melhor maneira de estar preparado para o mercado de trabalho em Ciência de Dados!'

'Projet pyPRO é a melhor maneira de estar preparado para o mercado de trabalho em Ciência de Dados!'

In [145]:
s = s + ' é a melhor maneira de estar preparado para o mercado de trabalho em Ciência de Dados!'

In [146]:
print(s)

Projet pyPRO é a melhor maneira de estar preparado para o mercado de trabalho em Ciência de Dados!

In [147]:
# Podemos usar o símbolo de multiplicação para criar repetição!
letra = 'w'

In [156]:
letra * 3

'www'

In [162]:
x = input("Digite o valor de x: ") ## O input sempre recebe como str
y = input("Digite o valor de y: ")
print("Resultado da Soma ", x + y)
x = int(x) ## Transformando em numero inteiro
y = int(y)
print("Resultado da Soma ", x + y)

Digite o valor de x:  3
Digite o valor de y:  2

Resultado da Soma  32
Resultado da Soma  5

In [166]:
base = float(input("Digite a Base: "))
altura = float(input("Digite a altura: "))
area = base * altura
print("A area é =", area, "m2")

Digite a Base:  4.4
Digite a altura:  3.4

A area é = 14.96 m2

In [171]:
## Calculando C em fahrenheit = (9 * C + 160) / 5
celcius = float(input("Em Celcius? ",))
conv = (9 * celcius + 160) / 5
print(f"Celcius Convertido em ", conv,"F")

Em Celcius?  32.4

Celcius Convertido em  90.32 F

In [179]:
## Importando Biblioteca com raiz quadrada
from math import sqrt

## Declarando Variaveis
ponto_x1 = float(input("Qual o X1 do gráfico: "))
ponto_x2 = float(input("Qual o X2 do gráfico: "))
ponto_y1 = float(input("Qual o Y1 do gráfico: "))
ponto_y2 = float(input("Qual o Y2 do gráfico: "))

Qual o X1 do gráfico:  38
Qual o X2 do gráfico:  40
Qual o Y1 do gráfico:  38
Qual o Y2 do gráfico:  40

In [189]:
## Calculando hipotenusa
hip = ((ponto_x2 - ponto_x1) ** 2) + ((ponto_y2 - ponto_y1) ** 2)
print(f"A distância entre pontos é", round(sqrt(hip),2))

A distância entre pontos é 2.83

## <font color='blue'>Estrutura Sequencial</font>

## Pseudocódigo 1 - Calcular a Área de Um Paralelograma

Nota: Um paralelogramo é um quadrilátero com lados opostos paralelos (e portanto ângulos opostos iguais). Um quadrilátero com lados iguais é chamado de losango e um paralelogramo cujos ângulos são todos ângulos retos é chamado de retângulo.

Inicie
    
    Exiba "Bem-vindo ao Calculador de Área de Paralelogramo"
    Peça para o usuário inserir o comprimento da base
    Armazene o comprimento da base em uma variável
    Peça para o usuário inserir a altura
    Armazene a altura em uma variável
    Calcule a área do paralelogramo:  base * altura
    Armazene o resultado em uma variável
    Exiba o resultado
    
Fim

## Convertendo o Pseudocódigo 1 em Programa Python

In [149]:
print("Bem-vindo ao Calculador de Área de Paralelogramo")

Bem-vindo ao Calculador de Área de Paralelogramo

In [150]:
base = float(input("Insira o comprimento da base: "))

Insira o comprimento da base:  33

In [153]:
altura = float(input("Insira a altura: "))

Insira a altura:  20

In [154]:
area = base * altura

In [155]:
print("A área do paralelogramo é: ", area)

A área do paralelogramo é:  660.0

### EXEMPLO 01
Calcular a área de um quadrilátero, com dois lados iguais. Para isso faz a leitura de dois números inteiros, representando os lados e imprime os valores lidos e a área calculada.

base, altura, area representam os nomes das variáveis – podem ser do tipo inteiro ou do tipo real.

In [ ]:
base = float(input('Entre com a base:'))
altura = float(input('Entre com a altura:'))
area = base * altura
print('A área é = ', area)

## EXEMPLO 02
Ler a temperatura em °C e apresentar em °F. 

Dados : F=(9*C+160)/5.

In [ ]:
celsius = float(input("Entre com a temperatura em C:"))
fare = (9 * celsius + 160) / 5
print("A temperatura em F = ", fare)

In [ ]:
## EXEMPLO 03
CALCULAR A DISTÂNCIA ENTRE 2 PONTOS.

![Figura](exemplo03.JPG)

In [ ]:
from math import pow, sqrt

x1 = float(input("Entre com x1: "))
y1 = float(input("Entre com y1: "))
x2 = float(input("Entre com x2: "))
y2 = float(input("Entre com y2: "))
dx = x2 - x1
dy = y2 - y1
d = sqrt(pow(dx,2)+pow(dy,2))
print("Distância = ", d)

## <font color='blue'>Exercícios</font>

1. Faça um programa para ler e escrever na tela o seu nome e a sua idade.

In [190]:
nome = input("Qual sua a idade" )
idade = float(input("Qual sua idade?" ))
print(f"O nome", nome, f"A idade", idade)

Qual sua a idade 2
Qual sua idade? 3

O nome 2 A idade 3.0

2. Faça um programa para ler e escrever na tela o seu nome e a sua idade.

3. Faça um algoritmo que receba o ano de nascimento de uma pessoa e o ano atual e mostre:
A idade dessa pessoa em anos;
A idade dessa pessoa em meses;
A idade dessa pessoa em dias;
A idade dessa pessoa em semanas.

4. Faça um algoritmo que receba o salário de um funcionário, calcule e mostre o novo salário, sabendo-se que este sofreu um aumento de 25%.

5. Faça um algoritmo que calcule e mostre a área de um círculo. Sabe-se que 
	Area= π * R2

	π = 3,115

6. Cada degrau de uma escada tem Xcm de altura. Faça um algoritmo que receba a altura de cada degrau em cm e a altura que o usuário deseja alcançar subindo a escada (em metros). Faça as conversões, calcule e mostre quantos degraus o usuário deverá subir para atingir seu objetivo.

Obs: não se preocupe com a altura do usuário!

In [196]:
xcm = 15
altura_alcacar = int(input("Quantos metros você quer percorrer: "))
print(f'Você precisa subir', int((altura_alcacar*100)/15), "degraus")

Quantos metros você quer percorrer:  20

Você precisa subir 133 degraus

## Fim da Aula 6